body {
    background-color: #ffffff;
    margin: 20px;
}

.row {
    display: flex;
}

.col {
    flex: 1 0 0%;
}

.nav {
    justify-content: flex-end;
    align-items: center;
}

.nav .col {
    flex-grow: 0;
    padding: 1rem;
}

.nav a:hover {
    background-color: black;
    color: #FFF;
}