body {
    background-color: #ffffff;
    color: #FFF;
    margin: 20px;
}

header {
    background-color: red;
}

.hero {
    background-color: yellow;
    color: black;
}

main {
    background-color: green;
}

.about-me {
    background-color: pink;
}

.work {
    background-color: purple;
}

.contact {
    background-color: orange;
}

footer {
    background-color: blue;
}

.row {
    display: flex;
}

.col {
    flex: 1 0 0%;
}

.nav {
    justify-content: flex-end;
    align-items: center;
}

.nav .col {
    flex-grow: 0;
    padding: 1rem;
}

.nav a:hover {
    background-color: black;
    color: #FFF;
}